<br/>
<%= link_to "Back",  articles_path %>

<!-- Render view/articles/_article.html.erb  -->
<%= render @article %>

<div>
  
  <%= link_to "Editar",  edit_article_path %>
  <%= link_to "Eliminar", @article, method: :delete %>
</div>